# Local terraform directories
.terraform

# .tfstate files
*.tfstate*

# tfvars file containing sensitive information
*.tfvars

# terraform CLI config files
.terraformrc
terraform.rc

# crash file
crash.log